/*General*/

body
{
   background-image:url("Bg_App.jpg");
}

/* Inscription.html*/
input.Text_Box
{
   width:110px;
}

.BTN_Inscrire
{
   border-radius:25px;
}


div.Inscription
{
   font-weight:bold;
   margin-left:auto;
   margin-right:auto;
   margin-top:300px;
   border-style:solid;
   height:220px;
   width:420px;
   border-radius:25px;
   background-color:rgba(255,255,255,0.8);
}

table#T_Inscription,td,th,tr
{
   margin:0 auto;
   text-align:center;
   position:relative;
   bottom:50px;
}

#Form
{
   text-align:center;
}

/* Catalogue.html*/
div.Catalogue
{
   background-color:white;
   margin-left:auto;
   margin-right:auto;
   margin-top:100px;
   border-style:solid;
   height:800px;
   width:1200px;
   border-radius:25px;
   background-color:rgba(255,255,255,0.8);
}

div.CB
{
   margin-left:10px;
   height:30px;
   width:50px;
}
form#ConnUser
{
   font-family : inherit;
   font-size :100%;
   margin-left:1024px;
   clear:both;
}
table#ObjectList tr th
{
 border:2px solid black;
 border-spacing: 0;
 border-collapse: collapse;
}

